<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend2.dao.CommentMapper">

    <resultMap type="com.example.backend2.domain.entity.Comment" id="CommentMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="activityId" column="activity_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="CommentMap">
        select id,
               activity_id,
               user_id,
               content
        from comment
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="CommentMap">
        select
        id, activity_id, user_id, content
        from comment
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="activityId != null">
                and activity_id = #{activityId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from comment
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="activityId != null">
                and activity_id = #{activityId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into comment(activity_id, user_id, content)
        values (#{activityId}, #{userId}, #{content})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into comment(activity_id, user_id, content)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.activityId}, #{entity.userId}, #{entity.content})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into comment(activity_id, user_id, content)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.activityId}, #{entity.userId}, #{entity.content})
        </foreach>
        on duplicate key update
        activity_id = values(activity_id),
        user_id = values(user_id),
        content = values(content)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update comment
        <set>
            <if test="activityId != null">
                activity_id = #{activityId},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from comment
        where id = #{id}
    </delete>

</mapper>

